.container {
    max-width: 960px;
}

.site-header {
    background-color: rgba(41, 60, 59, .85);
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    text-decoration: none;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.flex-equal>* {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}

.hide {
    opacity: 0.2;
    transition: opacity 400ms;
}

.show {
    opacity: 1;
    transition: opacity 400ms;
}

.hideCarritoAlerta {
    opacity: 0;
    transition: opacity 400ms;
}

#carritoExito {
    z-index: 999;
    position: fixed;
    bottom: 0;
}

.container {
    max-width: 960px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.border-top-gray {
    border-top-color: #adb5bd;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-condensed {
    line-height: 1.25;
}
