<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

	<body class="bg-light">

		<header class="site-header py-1">
			<nav class="d-flex flex-column flex-md-row justify-content-between align-self-center">
				<div class="py-3 d-none d-md-inline-block"></div>
				<a class="py-2" href="#" aria-label="Formulario">
					<!--<img src="./logo.png" alt="La Canastilla" style="height: 48px; max-width: 100%;" />-->
					<h1>Formulario</h1>
				</a>
				<div class="py-3 d-none d-md-inline-block"></div>
			</nav>
		</header>
		<div class="container">
			<div class="py-5 text-center">
			</div>

			<form class="needs-validation" novalidate>
				<div class="row">
					<div class="col mb-3">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" id="nombre" placeholder="" value="" required>
						<div class="invalid-feedback">
							Se requiere un nombre válido.
						</div>
					</div>
					<div class="col mb-3">
						<label for="apellidoPaterno">Apellido Paterno</label>
						<input type="text" class="form-control" id="apellidoPaterno" placeholder="" value="" required>
						<div class="invalid-feedback">
							Se requiere un apellido válido.
						</div>
					</div>
					<div class="col mb-3">
						<label for="apellidoMaterno">Apellido Materno</label>
						<input type="text" class="form-control" id="apellidoMaterno" placeholder="" value="" required>
						<div class="invalid-feedback">
							Se requiere un apellido válido.
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="email">Correo Electrónico</label>
					<input type="email" class="form-control" id="email" placeholder="nombre@dominio.com" required>
					<div class="invalid-feedback">
						Introduce una dirección de correo válida.
					</div>
				</div>

				<div class="mb-3">
					<label for="telefono">Telefono</label>
					<input type="text" class="form-control" id="telefono" placeholder="" required>
					<div class="invalid-feedback">
						Introduce una dirección válida.
					</div>
				</div>

				<hr class="mb-4">

				<h5 class="mb-3">Fecha de Nacimiento</h5>

				<div class="row">
					<div class="col mb-3">
						<label for="dia">Día</label>
						<input type="number" class="form-control" id="dia" min="1" max="31" placeholder="1" required>
					</div>
					<div class="col mb-3">
						<label for="mes">Mes</label>
						<select class="custom-select d-block w-100" id="mes" required>
							<option value="1">Enero</option>
							<option value="2">Febrero</option>
							<option value="3">Marzo</option>
							<option value="4">Abril</option>
							<option value="5">Mayo</option>
							<option value="6">Junio</option>
							<option value="7">Julio</option>
							<option value="8">Agosto</option>
							<option value="9">Septiembre</option>
							<option value="10">Octubre</option>
							<option value="11">Noviembre</option>
							<option value="12">Diciembre</option>
						</select>
					</div>
					<div class="col mb-3">
						<label for="year">Año</label>
						<input type="number" class="form-control" id="year" min="1900" max="2021" placeholder="2000" required>
					</div>
				</div>

				<hr class="mb-4">
				<div class="row">
					<div class="col mb-3">
						<button class="btn btn-success btn-lg btn-block" id="crear" type="submit">Crear</button>
					</div>
					<div class="col mb-3">
						<button class="btn btn-info btn-lg btn-block" id="consultar" type="submit">Consultar</button>
					</div>
					<div class="col mb-3">
						<button class="btn btn-warning btn-lg btn-block disabled" id="modificar" type="submit">Modificar</button>
					</div>
					<div class="col mb-3">
						<button class="btn btn-danger btn-lg btn-block disabled" id="borrar" type="submit">Borrar</button>
					</div>
				</div>
			</form>

			<!--<footer class="my-5 pt-5 text-muted text-center text-small">-->
			<!--<img src="./logo_dark.png" alt="La Canastilla" style="height: 48px; max-width: 100%;" />-->
			<!--<p class="mb-1">&copy; 2021</p>-->
			<!--</footer>-->
		</div>

		<script src="/scripts/main.js"></script>
	</body>
</html>
